body {
    background-color: #000;
}

button {
    background-color: #1d0c20;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.container {
    background-color: #ffebcd;
    padding: 40px;
    width: 450px;
    display: flex;
    flex-direction: column;
}

.traffic-light {
    border-radius: 10px;
    background-color: #000;
    width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
}

.panel {
    background-color: #808080;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: auto;
    border-radius: 15px;
}

.light {
    width: 50px;
    height: 50px;

    border-color: #000;
    border-width: medium;
    border-style: solid;
    border-radius: 50%;
}

.red-light {
    background-color: #f00;
}

.yellow-light {
    background-color: #ff0;
}

.green-light {
    background-color: #0f0;
}

.light-off {
    background-color: #3f3f3f;
}